[submodule "vimperator/vimperator-plugins"]
	path = vimperator/vimperator-plugins
	url = https://github.com/ervandew/vimperator-plugins
[submodule "private"]
	path = private
	url = git@github.com:simonjbeaumont/.dotfiles-private.git
