/* to hide the native tabs */
#TabsToolbar { visibility: collapse; }

/* to hide the sidebar header */
#sidebar-header { visibility: collapse; }

/* to hide the window control buttons (which overlap with above rules) */
#titlebar {display: none !important;}
#main-window {-moz-appearance:none !important;}
